server.port=8087
oauth2.public_url=https://oauth2.openbankproject.com/hydra-public
obp.base_url=https://apisandbox.openbankproject.com
endpoint.path.prefix=${obp.base_url}/open-banking/v3.1

logging.level.com.openbankproject=DEBUG

mtls.keyStore.path=file:///path/to/keystore.jks
mtls.keyStore.password=secretpassword
mtls.keyStore.alias=1
mtls.trustStore.path=file:///path/to/truststore.jks
mtls.trustStore.password=secretpassword

display_standards=UKOpenBanking,BerlinGroup,OBP-API
force_jws=None

server.servlet.session.cookie.name=HALO_SESSION

logo.bank.enabled=true
logo.bank.url=https://static.openbankproject.com/images/obp_logo.png

### insert oauth2-related keys from API consumer registration below ###

oauth2.client_id=taewei3sidooshoaquaisie2ohng8seepieLahna
oauth2.redirect_uri=https://hola.openbankproject.com/main.html
oauth2.client_scope=ReadAccountsBasic,\
ReadAccountsDetail,\
ReadBalances,\
ReadTransactionsBasic,\
ReadTransactionsDebits,\
ReadTransactionsDetail,\
ReadAccountsBerlinGroup,\
ReadBalancesBerlinGroup,\
ReadTransactionsBerlinGroup

oauth2.jws_alg=ES256
oauth2.jwk_private_key={"kty":"EC","d":"Aepaewaibisoo8deevae1Zaeni2ahwee6ne3Aik0ahX","use":"sig","crv":"P-256","kid":"39087g94-2b67-1ab4-124e-157ae7f2c078","x":"b9HEBe415JME8W_rPwAq1Ume_tBbohy2XSXda9Mqoe4","y":"ieSahSh2cheereeF0zix4EeB-kohx9Ieb6mah8obeid","alg":"ES256"}

