<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OBP Hola App - Grant Berlin Group Permissions</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />

    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/js/html5shiv.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/respond.min.js}" ></script>
    <![endif]-->

    <style th:if="${buttonBackgroundColor  != null}" th:text="'.btn-danger {background-color: ' + ${buttonBackgroundColor} + ';} .btn-danger:hover {background-color: ' + ${buttonHoverBackgroundColor} + ';}'"></style>
    <style th:unless="${displayStandards == 'BerlinGroup'}"></style>
    
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" th:href="@{${application.obp_url}}">
        <img th:src="@{/images/bank-logo.png}" height="60" class="d-inline-block align-top" alt="">
    </a>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-offset-3">
                <h2>Give Consent</h2>
                <form th:action="@{/request_consents_bg}" method="post">
                    <div class="form-group">
                        <label for="bank">Select your Bank</label>
                        <select class="form-control" name="bank" id="bank">
                            <option value="">--select one bank--</option>
                            <option th:each="bank : ${banks}" 
                                    th:value="${bank.id}" th:text="${bank.full_name} + ' (' + ${bank.id} + ')'">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="iban">IBANs</label>
                        <input type="text" name="iban" id="iban" class="form-control" >
                    </div>

                    <label>Select one or more Permissions</label>
                    <div class="form-group">
                        <div class="checkbox" th:each="consent : ${consents}">
                            <label>
                                <input type="checkbox" name="consents" th:value="${consent}">
                                <span th:text="${consent}">ReadAccountsBasic</span>
                            </label>
                        </div>
                        <span id="consents_error"></span>
                    </div>
                    
                    <div class="form-group">
                        <label for="frequency_per_day">Frequency per day</label>
                        <input type="number" min="1" value="4" name="frequency_per_day" id="frequency_per_day" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="expiration_time">Expiration Date Time</label>
                        <input type="text" name="expiration_time" id="expiration_time" class="form-control" data-date-format="YYYY-MM-DDTHH:mm:ss">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="recurring_indicator" name="recurring_indicator" value="true"
                               checked>
                        <label for="recurring_indicator">Recurring indicator</label>
                    </div>
                    <button type="submit" class="btn btn-danger">Give Consent</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-validate-1.19.2.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}" ></script>
    <script type="text/javascript">
        $(function(){
            $("form").validate({
                rules: {
                    bank: "required",
                    consents: "required",
                    recurring_indicator: "required",
                    frequency_per_day: "required",
                },
                messages: {
                    bank: "Bank should not be empty",
                    consents: "At least select one consent",
                },
                errorPlacement: function(error, element) {
                    error.addClass('text-danger');
                    if (element.attr("name") == "consents") {
                        error.appendTo("#consents_error");
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
            
            $('#expiration_time').datetimepicker({
                defaultDate: new Date(new Date().setDate(new Date().getDate() + 7)),
                minDate: new Date()
            });

        });

    </script>
</body>
</html>