<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OBP Hola App - Grant Berlin Group Permissions</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />

    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/js/html5shiv.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/respond.min.js}" ></script>
    <![endif]-->

    <style th:if="${buttonBackgroundColor  != null}" th:text="'.btn-danger {background-color: ' + ${buttonBackgroundColor} + ';} .btn-danger:hover {background-color: ' + ${buttonHoverBackgroundColor} + ';}'"></style>
    <style th:unless="${displayStandards == 'OBP-API'}"></style>
    <!-- Common JS code -->
    <script type="text/javascript" th:src="@{/js/index-obp-html-common-code.js}"></script>

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" th:href="@{${obpBaseUrl}}">
        <img th:if="${showBankLogo == 'true'}" th:src="@{${bankLogoUrl}}" height="55" class="d-inline-block align-top" alt=""></img>
        <img th:unless="${showBankLogo == 'true'}" th:src="@{/images/logo.png}" height="55" class="d-inline-block align-top" alt=""></img>
        <span class="badge badge-primary">AISP</span>
    </a>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-offset-3">
                <h2>Create Consent</h2>
                <form th:action="@{/request_consents_obp}" method="post">
                    <div class="form-group">
                        <label for="bank">Select your Bank</label>
                        <select class="form-control" name="bank" id="bank" onchange="setBankSelection()" >
                            <!--<option value="">--select one bank--</option>-->
                            <option th:each="bank : ${banks}" 
                                    th:value="${bank.id}" th:text="${bank.full_name} + ' (' + ${bank.id} + ')'">
                            </option>
                        </select>
                        <!--
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseBankSearch" aria-expanded="false" aria-controls="collapseBankSearch">
                            Show/Hide bank search
                        </button>
                        <div class="collapse" id="collapseBankSearch">
                          <input type="search" id="searchBox" class="form-control" hidden>
                        </div>
                        -->
                    </div>
<!--
                    <label>Select one or more Permissions</label>
                    <div class="form-group">
                        <div class="checkbox" th:each="consent : ${consents}">
                            <label>
                                <input type="checkbox" name="consents" th:value="${consent}">
                                <span th:text="${consent}">ReadAccountsBasic</span>
                            </label>
                        </div>
                        <span id="consents_error"></span>
                    </div>
-->                    
                    <div class="form-group">
                        <label for="time_to_live_in_seconds">Time to live</label>
                        <input type="number" min="1" value="3600" name="time_to_live_in_seconds" id="time_to_live_in_seconds" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="valid_from">Valid from</label>
                        <input type="text" name="valid_from" id="valid_from" class="form-control" data-date-format="YYYY-MM-DDTHH:mm:ss">
                    </div>
              
                    <div class="form-group" >
                        <input type="checkbox" id="everything_indicator_checkbox" name="everything_indicator_checkbox" value="true" onclick="checkboxEventHandler()">
                        <label for="everything_indicator_checkbox">All Accounts (everything)</label>
                        <input type="text" style="display:none" name="everything_indicator" id="everything_indicator" class="form-control">
                    </div>

                    <div class="form-group">
                        <div class="collapse" id="collapse-permission-box" style="display:block">
                            <div class="form-container" style="display: flex;flex-direction: row;align-items: center;">
                                <div class="form-group">
                                    <label for="permission_routing_scheme">Routing Scheme</label>
                                    <input type="text" name="permission_routing_scheme" id="permission_routing_scheme" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="permission_routing_address">Routing Address</label>
                                    <input type="text" name="permission_routing_address" id="permission_routing_address" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="permission_view_id">View ID</label>
                                    <input type="text" name="permission_view_id" id="permission_view_id" class="form-control">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <button type="submit" class="btn btn-success">Proceed</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-validate-1.19.2.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}" ></script>
    

    <script type="text/javascript">
        $(function(){
            $("form").validate({
                rules: {
                    bank: "required",
                    time_to_live_in_seconds: "required",
                    valid_from: "required",
                },
                messages: {
                    bank: "Bank should not be empty",
                    time_to_live_in_seconds: "Time to live should not be empty",
                    valid_from: "Valid from should not be empty",
                },
                errorPlacement: function(error, element) {
                    error.addClass('text-danger');
                    if (element.attr("name") == "consents") {
                        error.appendTo("#consents_error");
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
            
            $('#valid_from').datetimepicker({
                defaultDate: new Date(),
                minDate: new Date()
            });

        });
        
        
        searchBox = document.querySelector("#searchBox");
        banks = document.querySelector("#bank");
        var when = "keyup"; //You can change this to keydown, keypress or change
        
        if(searchBox) {
            searchBox.addEventListener("keyup", function (e) {
                var text = e.target.value; 
                var options = banks.options; 
                for (var i = 0; i < options.length; i++) {
                    var option = options[i]; 
                    var optionText = option.text; 
                    var lowerOptionText = optionText.toLowerCase();
                    var lowerText = text.toLowerCase(); 
                    var regex = new RegExp("^" + text, "i");
                    var match = optionText.match(regex); 
                    var contains = lowerOptionText.indexOf(lowerText) != -1;
                    if (match || contains) {
                        option.selected = true;
                        return;
                    }
                    searchBox.selectedIndex = 0;
                }
            });
        };
        
        
        
        function checkboxEventHandler() {
            // Get the checkbox
            var checkBox = document.getElementById("everything_indicator_checkbox");
            var indicator = document.getElementById("everything_indicator");
            // Get the permission box
            var box = document.getElementById("collapse-permission-box");
            // If the checkbox is checked, display the output text
            if (checkBox.checked == true){
              checkBox.value = "true";
              indicator.value = "true";
              box.style.display = "none";
            } else {
              checkBox.value = "false";
              indicator.value = "false";
              box.style.display = "block";
            }
        }

    </script>
</body>
</html>