<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OBP Hola App - Grant Berlin Group Permissions</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />

    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/js/html5shiv.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/respond.min.js}" ></script>
    <![endif]-->

    <style th:if="${buttonBackgroundColor  != null}" th:text="'.btn-danger {background-color: ' + ${buttonBackgroundColor} + ';} .btn-danger:hover {background-color: ' + ${buttonHoverBackgroundColor} + ';}'"></style>
    <style th:unless="${displayStandards == 'OBP-API'}"></style>
    <!-- Common JS code -->
    <script type="text/javascript" th:src="@{/js/index-obp-vrp-html-common-code.js}"></script>

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" th:href="@{${obpBaseUrl}}">
        <img th:if="${showBankLogo == 'true'}" th:src="@{${bankLogoUrl}}" height="55" class="d-inline-block align-top" alt=""></img>
        <img th:unless="${showBankLogo == 'true'}" th:src="@{/images/logo.png}" height="55" class="d-inline-block align-top" alt=""></img>
        <span class="badge badge-primary">AISP</span>
    </a>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-offset-3">
                <h2>Create Consent Request VRP</h2>
                <form th:action="@{/request_consents_obp_vrp}" method="post">
                    <div class="form-row">
                        <div style="visibility: hidden;" class="form-group col-md-12">
                            <label for="bank">Select your Bank</label>
                            <select class="form-control" name="bank" id="bank" onfocusout="setBankSelection()" >
                                <option th:each="bank : ${banks}"
                                        th:value="${bank.id}" th:text="${bank.full_name} + ' (' + ${bank.id} + ')'">
                            </select>
                        </div>
                    </div>
                    <h4>From Account</h4>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="from_bank_routing_scheme">Bank Scheme</label>
                            <select class="form-control" name="from_bank_routing_scheme" id="from_bank_routing_scheme" >
                                <option value="OBP">Bank ID (OBP)</option>
                                <option value="BBAN">BBAN</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="from_bank_routing_address">Bank Address</label>
                            <input type="text" name="from_bank_routing_address" 
                                   id="from_bank_routing_address" class="form-control" 
                                   onchange="setBankInAccordanceTo(this)">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="from_routing_scheme">Account Scheme</label>
                            <select class="form-control" name="from_routing_scheme" id="from_routing_scheme" >
                                <option value="OBP">Account ID (OBP)</option>
                                <option value="IBAN">IBAN</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="from_routing_address">Account Address</label>
                            <input type="text" name="from_routing_address" id="from_routing_address" class="form-control">
                        </div>
                    </div>
                    <hr>
                    <h4>To Account</h4>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="to_bank_routing_scheme">Bank Scheme</label>
                            <select class="form-control" name="to_bank_routing_scheme" id="to_bank_routing_scheme" >
                                <option value="">None</option>
                                <option value="OBP">Bank ID (OBP)</option>
                                <option value="BBAN">BBAN</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="to_bank_routing_address">Bank Address</label>
                            <input type="text" name="to_bank_routing_address" id="to_bank_routing_address" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="to_branch_routing_scheme">Branch Scheme</label>
                            <select class="form-control" name="to_branch_routing_scheme" id="to_branch_routing_scheme" >
                                <option value="">None</option>
                                <option value="BranchCode">Branch Code</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="to_branch_routing_address">Branch Address</label>
                            <input type="text" name="to_branch_routing_address" id="to_branch_routing_address" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="to_routing_scheme">Account Scheme</label>
                            <select class="form-control" name="to_routing_scheme" id="to_routing_scheme" >
                                <option value="OBP">Account ID (OBP)</option>
                                <option value="AccountNumber">Account Number</option>
                                <option value="IBAN">IBAN</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="to_routing_address">Account Address</label>
                            <input type="text" name="to_routing_address" id="to_routing_address" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="counterparty_name">Counterparty Name (For your reference.)</label>
                            <input type="text" name="counterparty_name" id="counterparty_name" class="form-control">
                        </div>
                    </div>
                    <hr>
                    <h4>Limits</h4>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="currency">Currency</label>
                                <input type="text" name="currency" id="currency" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="max_single_amount">Max single amount</label>
                                <input type="number" min="0" value="100" name="max_single_amount" id="max_single_amount" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="max_monthly_amount">Max monthly amount</label>
                                <input type="number" min="0" value="100" name="max_monthly_amount" id="max_monthly_amount" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="max_yearly_amount">Max yearly amount</label>
                                <input type="number" min="0" value="1200" name="max_yearly_amount" id="max_yearly_amount" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="max_number_of_monthly_transactions">Max number of monthly transactions</label>
                                <input type="number" min="0" value="1" name="max_number_of_monthly_transactions" id="max_number_of_monthly_transactions" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="max_number_of_yearly_transactions">Max number of yearly transactions</label>
                                <input type="number" min="0" value="12" name="max_number_of_yearly_transactions" id="max_number_of_yearly_transactions" class="form-control">
                            </div>
                        </div>
                    </div>
                    <h4>Other</h4>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="time_to_live_in_seconds">Time to live in seconds</label>
                                <input type="number" min="1" value="31556926" name="time_to_live_in_seconds" id="time_to_live_in_seconds" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="valid_from">Valid from</label>
                                <input type="text" name="valid_from" id="valid_from" class="form-control" data-date-format="YYYY-MM-DDTHH:mm:ss">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="phone_number">Phone number</label>
                                <input type="text" name="phone_number" id="phone_number" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Proceed</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-validate-1.19.2.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}" ></script>
    

    <script type="text/javascript">
        $(function(){
            $("form").validate({
                rules: {
                    bank: "required",
                    time_to_live_in_seconds: "required",
                    valid_from: "required",
                },
                messages: {
                    bank: "Bank should not be empty",
                    time_to_live_in_seconds: "Time to live should not be empty",
                    valid_from: "Valid from should not be empty",
                },
                errorPlacement: function(error, element) {
                    error.addClass('text-danger');
                    if (element.attr("name") == "consents") {
                        error.appendTo("#consents_error");
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
            
            $('#valid_from').datetimepicker({
                defaultDate: new Date(),
                minDate: new Date()
            });

        });

    </script>
</body>
</html>