<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OBP Hola App - Accounts Information</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}"/>

    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <script th:inline="javascript">
        let userInfo = [[${user}]]
        let hashParam = location.hash
        if(!userInfo && hashParam.indexOf("code") !== -1) {
            // redirect back from hydra with hash param, convert hash param to request param, to exchange code with token
            let mainCodeLink = '/main.html?' + hashParam.substr(1)
            window.location.replace(mainCodeLink)
        } else if(!userInfo) {
            // current user not authenticated, redirect to index page
            let indexLink = '/index.html'
            window.location.replace(indexLink)
        }
    </script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" th:href="@{${application.obp_url}}">
        <img th:src="@{/images/logo.png}" height="60" class="d-inline-block align-top" alt="">
    </a>
</nav>


<div class="container">
    <div class="row">
        <h1>Hello <span th:text="${user?.username}"></span></h1>

        current user: <br>
        email: <span th:text="${user?.email}"></span> <br>
        username: <span th:text="${user?.username}"></span> <br>
        <a class="btn btn-info" th:href="@{/logout}">Logout</a>
        <br>
        <br>
    </div>
    <div th:switch="${apiStandard}">
        <div th:case="'UKOpenBanking'" class="row">
            <div>
                <button class="btn btn-primary" id="get_accounts">Get accounts via UK Open Banking</button>
                <div id="account_list">
    
                </div>
            </div>
        </div>
        <div th:case="'BerlinGroup'" class="row">
            <div>
                <button class="btn btn-primary"  id="get_accounts_bg">Get accounts via Berlin Group APIs</button>
                <div id="account_list_bg">
    
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script lang="javascript">
    $(function () {
        $.ajaxSetup({
            "error": function (e) {
                alert(`error: code=${e.status}, fail msg: ${e.responseText}`);
                console.log(e);
            }
        });
        $('#get_accounts_bg').click(function () {
            $.getJSON("/account_bg", function (data) {
                const container = $('#account_list_bg').empty().append('<h1>Account List:</h1>');
                if (data.code > 399 ) {
                  let zson = JSON.stringify(data, null, 2);
                  container.append(`<code>${zson}<code>`).append('<br>');
                }
                $.each(data.accounts, function (index, account) {
                    let zson = JSON.stringify(account, null, 2);
                    container.append(`
                    <div>
                        <code>${zson}</code><br>
                        <button class="get_account_detail_bg" account_id="${account['resourceId']}">Get Account detail</button>
                        <button class="get_balances_bg" account_id="${account['resourceId']}">Get Balances</button>
                        <button class="get_transactions_bg" account_id="${account['resourceId']}">Get Transactions</button>
                        <div class="account_detail_bg"></div>
                        <div class="balances_bg"></div>
                        <div class="transactions_bg"></div>
                        <hr>
                    </div>
                `);
                });
                $('.get_account_detail_bg').click(function () {
                    let accountDetailEle = $(this).siblings('.account_detail_bg').empty().append('<h3>Account Detail:</h3>');
                    ;
                    let accountId = $(this).attr('account_id');
                    $.getJSON('/account_bg/' + accountId, function (data) {
                        let zson = JSON.stringify(data, null, 2);
                        accountDetailEle.append(`<code>${zson}<code>`).append('<br>');
                    });
                });
                $('.get_balances_bg').click(function () {
                    let balancesEle = $(this).siblings('.balances_bg').empty().append('<h3>Balance List:</h3>');
                    ;
                    let accountId = $(this).attr('account_id');
                    $.getJSON('/balances_bg/account_id/' + accountId, function (data) {
                        let zson = JSON.stringify(data, null, 2);
                        balancesEle.append(`<code>${zson}<code>`).append('<br>');
                    });
                });
                $('.get_transactions_bg').click(function () {
                    let accountsEle = $(this).siblings('.transactions_bg').empty().append('<h3>Transaction List:</h3>');
                    let accountId = $(this).attr('account_id');
                    $.getJSON('/transactions_bg/account_id/' + accountId, function (data) {
                        let zson = JSON.stringify(data, null, 2);
                        accountsEle.append(`<code>${zson}<code>`).append('<br>');
                    });
                });
            });
        });
    })
</script>
<script lang="javascript">
    $(function () {
        $.ajaxSetup({
            "error": function (e) {
                alert(`error: code=${e.status}, fail msg: ${e.responseText}`);
                console.log(e);
            }
        });
        $('#get_accounts').click(function () {
            $.getJSON("/account", function (data) {
                const container = $('#account_list').empty().append('<h1>Account List:</h1>');
                $.each(data.Account, function (index, account) {
                    let zson = JSON.stringify(account, null, 2);
                    container.append(`
                    <div>
                        <code>${zson}</code><br>
                        <button class="get_account_detail" account_id="${account['AccountId']}">Get Account detail</button>
                        <button class="get_balances" account_id="${account['AccountId']}">Get Balances</button>
                        <button class="get_transactions" account_id="${account['AccountId']}">Get Transactions</button>
                        <div class="account_detail"></div>
                        <div class="balances"></div>
                        <div class="transactions"></div>
                        <hr>
                    </div>
                `);
                });
                $('.get_account_detail').click(function () {
                    let accountDetailEle = $(this).siblings('.account_detail').empty().append('<h3>Account Detail:</h3>');
                    ;
                    let accountId = $(this).attr('account_id');
                    $.getJSON('/account/' + accountId, function (data) {
                        let zson = JSON.stringify(data, null, 2);
                        accountDetailEle.append(`<code>${zson}<code>`).append('<br>');
                    });
                });
                $('.get_balances').click(function () {
                    let balancesEle = $(this).siblings('.balances').empty().append('<h3>Balance List:</h3>');
                    ;
                    let accountId = $(this).attr('account_id');
                    $.getJSON('/balances/account_id/' + accountId, function (data) {
                        let zson = JSON.stringify(data, null, 2);
                        balancesEle.append(`<code>${zson}<code>`).append('<br>');
                    });
                });
                $('.get_transactions').click(function () {
                    let accountsEle = $(this).siblings('.transactions').empty().append('<h3>Transaction List:</h3>');
                    let accountId = $(this).attr('account_id');
                    $.getJSON('/transactions/account_id/' + accountId, function (data) {
                        let zson = JSON.stringify(data, null, 2);
                        accountsEle.append(`<code>${zson}<code>`).append('<br>');
                    });
                });
            });
        });
    })
</script>
</body>
</html>